body {
    background-color: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
    min-width: 60em;
}

div {
    margin-bottom: 10px;
}

a {
    border: 1px solid green;
    margin-left: 10px;
}

/* unvisited link */
a:link {
    color: lightgreen;
}

/* visited link */
a:visited {
    color: lightgreen;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: green;
} 